global
  log stdout format raw local0
  ssl-default-bind-options ssl-min-ver TLSv1.3
  ssl-default-bind-ciphersuites TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256

defaults
  mode tcp
  log global
  option tcplog
  timeout connect 5s
  timeout client 90s
  timeout server 90s

resolvers docker
  nameserver docker 127.0.0.11:53
  resolve_retries 3
  timeout resolve 1s
  timeout retry 1s
  hold valid 10s
  hold nx 3s
  hold other 3s
  hold refused 3s
  hold timeout 3s
  hold obsolete 3s

frontend redis_tls
  bind :6379 ssl crt /run/pki/server.pem
  default_backend redis_plain

backend redis_plain
  server redis redis:6379 check resolvers docker resolve-prefer ipv4 init-addr libc,none
